{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}

    <div class="date-participant">
        <p>Date du jour : {{ "now" | date("d F Y") }}</p>
        <p>Participant : {{ app.user.username }}</p>
    </div>

    {{ form_start(filterForm) }}
    {{ form_row(filterForm.site) }}
    {{ form_row(filterForm.keyword) }}
    {{ form_row(filterForm.dateDebut) }}
    {{ form_row(filterForm.dateFin) }}

    <div class="checkbox">
        <label>
            {{ form_widget(filterForm.organisateur) }}
            <span>Sorties dont je suis l'organisateur</span>
        </label>

        <label>
            {{ form_widget(filterForm.inscrit) }}
            <span>Sorties auxquelles je suis inscrit/e</span>
        </label>

        <label>
            {{ form_widget(filterForm.nonInscrit) }}
            <span>Sorties auxquelles je ne suis pas inscrit/e</span>
        </label>

        <label>
            {{ form_widget(filterForm.past) }}
            <span>Sorties passées</span>
        </label>
    </div>

    <button type="submit" class="btn">Rechercher</button>
    {{ form_end(filterForm) }}

    <table class="striped">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>État</th>
            <th>Inscrit</th>
            <th>Site</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for s in sorties %}
            <tr>
                <td>{{ s.nom }}</td>
                <td>{{ s.dateHeureDebut | date("d/m/Y H:i") }}</td>
                <td>{{ s.dateLimiteInscription | date("d/m/Y") }}</td>
                <td>{{ s.inscrits.count }} /{{ s.nbInscriptionMax }}</td>
                <td> {{ s.etat.libelle }}</td>
                <td>test</td>
                <td>{{ s.site.nom }}</td>
                <td>{{ s.user.username }}</td>
                <td>
                    <a href="{{ path('sortie_detail',{"id":s.id}) }}">detail</a>
                    {% if s.dateLimiteInscription > date() and s.user != app.user %}
                        {% if s.inscrits.contains(app.user) %}
                            <a href="{{ path('sortie_desincription', {"id":s.id}) }}">Se désister</a>
                        {% else %}
                            <a href="{{ path('sortie_inscription', {"id":s.id}) }}">S'incrire</a>
                        {% endif %}
                    {% endif %}
                    {% if s.user == app.user %}
                        <a href="{{ path('sortie_detail', {"id":s.id}) }}">modifier</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('sortie_add') }}" title="ajout Sortie">Ajout Sortie</a>
{% endblock %}

