{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}

    <div class="date-participant">
        <p>Date du jour : {{ "now" | date("d F Y") }}</p>
        <p>Participant : {{ app.user.username }}</p>
    </div>

    {{ form_start(filterForm) }}
    {{ form_row(filterForm.site) }}
    {{ form_row(filterForm.keyword) }}
    {{ form_row(filterForm.dateDebut) }}
    {{ form_row(filterForm.dateFin) }}

    <div class="checkbox">
        <label>
            {{ form_widget(filterForm.organisateur) }}
            <span>Sorties dont je suis l'organisateur</span>
        </label>

        <label>
            {{ form_widget(filterForm.inscrit) }}
            <span>Sorties auxquelles je suis inscrit/e</span>
        </label>

        <label>
            {{ form_widget(filterForm.nonInscrit) }}
            <span>Sorties auxquelles je ne suis pas inscrit/e</span>
        </label>

        <label>
            {{ form_widget(filterForm.past) }}
            <span>Sorties passées</span>
        </label>
    </div>

    <button type="submit" class="btn">Rechercher</button>
    {{ form_end(filterForm) }}

    <table class="striped tableau">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th class="hide-on-small-only">Clôture</th>
            <th class="hide-on-small-only">Inscrits/places</th>
            <th class="hide-on-small-only">État</th>
            <th class="hide-on-small-only">Inscrit</th>
            <th>Site</th>
            <th class="hide-on-small-only">Organisateur</th>
            <th class="hide-on-small-only">Actions</th>
        </tr>
        </thead>
        <tbody class="tableau tableau-home">
        {% for s in sorties %}
            {% if s.etat.libelle == 'Créée' and app.user != s.user %}
            {% elseif dateArchive < s.dateHeureDebut %}
                <tr>
                    <td>{{ s.nom }}</td>
                    <td>{{ s.dateHeureDebut | date("d/m/Y H:i") }}</td>
                    <td class="hide-on-small-only">{{ s.dateLimiteInscription | date("d/m/Y") }}</td>
                    <td class="hide-on-small-only">{{ s.inscrits.count }} /{{ s.nbInscriptionMax }}</td>
                    <td class="hide-on-small-only"> {{ s.etat.libelle }}</td>
                    <td class="hide-on-small-only">{% if s.inscrits.contains(app.user) %}X{% endif %}</td>
                    <td>{{ s.site.nom }}</td>
                    <td class="hide-on-small-only"><a href="{{ path('user_afficher', {"id":s.user.id}) }}">{{ s.user.username }}</a></td>
                    <td class="hide-on-small-only">
                        <a href="{{ path('sortie_detail',{"id":s.id}) }}">detail</a>
                        {% if s.dateLimiteInscription > date() and s.user != app.user and s.etat.libelle == "Ouverte" %}
                            {% if s.inscrits.contains(app.user) %}
                                <a href="{{ path('sortie_desincription', {"id":s.id}) }}">Se désister</a>
                            {% else %}
                                <a href="{{ path('sortie_inscription', {"id":s.id}) }}">S'incrire</a>
                            {% endif %}
                        {% endif %}
                        {% if s.user == app.user and s.dateHeureDebut > date() %}
                            <a href="{{ path('sortie_detail', {"id":s.id}) }}">modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('sortie_add') }}" title="ajout Sortie">Ajout Sortie</a>
{% endblock %}

