{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    <div>
        <p>Date du jour : {{ "now" | date("d/m/Y") }}</p>
        <p>Participant : {{ app.user.username }}</p>
    </div>

    <h3>Filtrer les sorties</h3>

    <form action="post">
        <div>
            <p>Site : </p>
            <select name="nomSortie">
                <option value="">Selectionner un site</option>
                <option value="saint-herblain">Saint-Herblain</option>
            </select>

            <p>Le nom de la sortie contient : </p>
            <input type="search" placeholder="Rechercher">

            <p>Entre</p><input type="text" class="datepicker" value="{{ "now" | date("d/m/Y") }}">
            <p>et</p><input type="text" class="datepicker">
        </div>

        <div class="">
            <label>
                <input type="checkbox" class="filled-in"/>
                <span>Sorties dont je suis l'organisateur</span>
            </label>

            <label>
                <input type="checkbox" class="filled-in"/>
                <span>Sorties auxquelles je suis inscrit/e</span>
            </label>

            <label>
                <input type="checkbox" class="filled-in"/>
                <span>Sorties auxquelles je ne suis pas inscrit/e</span>
            </label>

            <label>
                <input type="checkbox" class="filled-in" >
                <span>Sorties passées</span>
            </label>
        </div>
        <button class="btn">Rechercher</button>
    </form>

    <table class="striped">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>État</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for s in sorties %}
            <tr>
                <td>{{ s.nom }}</td>
                <td>{{ s.dateHeureDebut | date("d/m/Y") }}</td>
                <td>{{ s.dateLimiteInscription | date("d/m/Y") }}</td>
                <td> {{ s.nbInscriptionMax }}</td>
                <td> {{ s.etat.libelle }}</td>
                <td>test</td>
                <td>{{ s.user.username }}</td>
                <td><a href="{{ path('sortie_detail',{"id":s.id}) }}">detail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn" href="{{ path('sortie_add') }}" title="ajout Sortie">Ajout Sortie</a>
{% endblock %}

