{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    <div>
        <p>Date du jour : {{ "now" | date("d/m/Y") }}</p>
        <p>Participant : {{ app.user.username }}</p>
    </div>

    <h3>Filtrer les sorties</h3>

    <form action="{{ path('home') }}" method="post">
        <div>
            <p>Site : </p>
            <select name="site">
                {% for site in sites %}
                    <option value="{{ site.id }}" {% if currentSite == site.id %} selected {% endif %}>{{ site.nom }}</option>
                {% endfor %}
            </select>

            <p>Le nom de la sortie contient : </p>
            <input type="search" name="keyword" placeholder="Rechercher" value="{{ keyword }}">

            <p>Entre</p><input type="datetime-local"  name="date-debut" value="{{ "now" | date("M d, Y H:i") }}">
            <p>et</p><input type="datetime-local" name="date-fin" value="{{ "tomorrow" | date("M d, Y") }}">
        </div>

        <div class="">
            <label>
                <input type="checkbox" class="filled-in" name="organisateur"/>
                <span>Sorties dont je suis l'organisateur</span>
            </label>

            <label>
                <input type="checkbox" class="filled-in" name="inscrit"/>
                <span>Sorties auxquelles je suis inscrit/e</span>
            </label>

            <label>
                <input type="checkbox" class="filled-in" name="non-inscrit"/>
                <span>Sorties auxquelles je ne suis pas inscrit/e</span>
            </label>

            <label>
                <input type="checkbox" class="filled-in" name="past">
                <span>Sorties passées</span>
            </label>
        </div>
        <button type="submit" class="btn">Rechercher</button>
    </form>

    <table class="striped">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>État</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for s in sorties %}
            <tr>
                <td>{{ s.nom }}</td>
                <td>{{ s.dateHeureDebut | date("d/m/Y") }}</td>
                <td>{{ s.dateLimiteInscription | date("d/m/Y") }}</td>
                <td>{{ s.inscrits.count }} /{{ s.nbInscriptionMax }}</td>
                <td> {{ s.etat.libelle }}</td>
                <td>test</td>
                <td>{{ s.user.username }}</td>
                <td><a href="{{ path('sortie_detail',{"id":s.id}) }}">detail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{{ path('sortie_add') }}" title="ajout Sortie">Ajout Sortie</a>
{% endblock %}

