{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajout sortie{% endblock %}

{% block body %}
    <h1>Ajout d'une sortie</h1>

    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionMax) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.infosSortie) }}
    {{ form_row(sortieForm.lieu) }}

    <div id="adresse" style="display: none">


        <p>Ca s'affiche ! :)</p>
        {#<p>Ville : {{ lieu.ville.nom }}</p>
        <p>Rue : {{ lieu.rue }}</p>
        <p>Code postal : {{ lieu.ville.zipCode }}</p>
        <p>Latitude : {{ lieu.latitude }}</p>
        <p>Longitude : {{ lieu.longitude }}</p>#}
    </div>

    <button class="btn" type="submit" name="ajouter">Créer la sortie !</button>
    <button class="btn" type="submit" name="publier">Publier la sortie !</button>
    <a class="btn" href="{{ path('home') }}">Retour</a>
    <div hidden>
        {{ form_row(sortieForm.annuler) }}
    </div>
    {{ form_end(sortieForm) }}

    <script>
        document.getElementById('sortie_lieu').onchange =
        function() {

            var select = document.getElementById('sortie_lieu');
            var req = $.ajax({type: "GET",
            url: "{{path('sortie_lieu_id')}}",
                data: {id : select.value}})
                .done(function (data) {
                    document.getElementById('adresse').style.display = "block";
                    document.getElementById('rue').textContent = "Rue : " + data.rue;
                    document.getElementById('ville').textContent = "Ville : " + data.ville;
                    document.getElementById('zip').textContent = "Code postal : " + data.zip;
                    document.getElementById('latitude').textContent = "Latitude : " + data.latitude;
                    document.getElementById('longitude').textContent = "Longitude : " + data.longitude;
                })
                .fail(function () {
                    alert("Ca marche pas");
                })
        };
    </script>
{% endblock %}
