{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajout sortie{% endblock %}

{% block body %}
    <h1>Ajout d'une sortie</h1>

    {{ form_start(sortieForm) }}
    {{ form_row(sortieForm.nom) }}
    {{ form_row(sortieForm.dateHeureDebut) }}
    {{ form_row(sortieForm.dateLimiteInscription) }}
    {{ form_row(sortieForm.nbInscriptionMax) }}
    {{ form_row(sortieForm.duree) }}
    {{ form_row(sortieForm.infosSortie) }}
    {{ form_row(sortieForm.lieu) }}

    <div id="adresse" style="display: none">


        <p>Ca s'affiche ! :)</p>
        {#<p>Ville : {{ lieu.ville.nom }}</p>
        <p>Rue : {{ lieu.rue }}</p>
        <p>Code postal : {{ lieu.ville.zipCode }}</p>
        <p>Latitude : {{ lieu.latitude }}</p>
        <p>Longitude : {{ lieu.longitude }}</p>#}
    </div>

    <button class="btn" type="submit" name="ajouter" value="Creer la sortie">Créer la sortie !</button>
    <button class="btn" type="submit" name="publier" value="Publier la sortie">Publier la sortie !</button>
    <a class="btn" href="{{ path('home') }}">Retour</a>
    {{ form_end(sortieForm) }}

{#    <script>#}
{#        window.onchange =#}
{#        function() {#}

{#            var select = document.getElementById('sortie_lieu');#}
{#            alert(select.value);#}
{#            var req = new XMLHttpRequest();#}
{#            req.open("GET", "{{path('sortie_lieu_id')}}?id=" + select.value, true);#}
{#            req.onload = alert(req.status);#}
{#            req.onload = showLieu('adresse');#}
{#            req.send();#}
{#        };#}
{#    </script>#}
{% endblock %}
