{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | detail sortie{% endblock %}

{% block body %}
    <h2>Détail de la sortie</h2>

    {% if app.user == sortie.user  and sortie.dateHeureDebut > date() and  sortie.etat.libelle != 'Annulée' %}
        {{ form_start(sortieForm) }}
        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionMax) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.infosSortie) }}
        {{ form_row(sortieForm.lieu) }}

        <div>
            <a class="btn" href="#" id="lien_annuler" onclick="javascript:show('show','lien_annuler'); return false;">Annuler la sortie ?</a>
            <div id="show" style="display: none" class="input-field col s12">
                {{ form_row((sortieForm.annuler)) }}
            </div>
            <input type="submit" class="btn" value="Enregistrer">
            {% if sortie.etat.libelle == 'Créée' %}
                <input type="submit" class="btn" name="publier" value="Publier la sortie">
            {% endif %}
            <a href="{{ path('home') }}" class="btn">Retour</a>
        </div>

        {{ form_end(sortieForm) }}
    {% else %}
        <ul class="ul-detail">
            <div>
                <li>nom de la sortie : {{ sortie.nom }}</li>
                <li>date heure debut : {{ sortie.dateHeureDebut | date("d/m/Y") }}</li>
                <li>nombre max inscription : {{ sortie.nbInscriptionMax }}</li>
                <li>durée : {{ sortie.duree }}</li>
                <li>infos de la sortie : {{ sortie.infosSortie }}</li>
            </div>
            <div>
                <li>lieu : {{ sortie.lieu.nom }}</li>
                <li>rue : {{ sortie.lieu.rue }}</li>
                <li>ville : {{ sortie.lieu.ville.nom }}</li>
                <li>code postal : {{ sortie.lieu.ville.zipCode }}</li>
                <li>latitude : {{ sortie.lieu.latitude }}</li>
                <li>longitude : {{ sortie.lieu.longitude }}</li>
            </div>


            {% if sortie.annuler != null %}
                <li>Raison de l'annulation : {{ sortie.annuler }}</li>
            {% endif %}
        </ul>
        <div id="mapdiv"></div>
        {#        <a href="{{ path('home') }}" class="btn">Retour</a>#}
    {% endif %}
    <h3>Liste des participants incrits :</h3>
    <table class="striped tableau">
        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Prénom Nom</th>
        </tr>
        </thead>
        <tbody class="tableau tableau-detail">
        {% for participant in sortie.inscrits.values %}
            <tr>
                <td>
                    <div class="filter-container hide-on-small-only">
                        <a href="{{ path('user_afficher', {"id":participant.id}) }}">
                            {{ participant.username }}
                        </a>
                    </div>
                    <div class="hide-on-med-only">
                        {{ participant.username }}
                    </div>
                </td>
                <td>{{ participant.prenom }} {{ participant.nom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        window.onload =
            function init() {
                map = new OpenLayers.Map("mapdiv");
                map.addLayer(new OpenLayers.Layer.OSM());

                var lonLat = new OpenLayers.LonLat( {{ sortie.lieu.longitude }} , {{ sortie.lieu.latitude }} )
                    .transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        map.getProjectionObject() // to Spherical Mercator Projection
                    );

                var zoom = 16;
                var size = new OpenLayers.Size(50, 50);
                var offset = new OpenLayers.Pixel(-(size.w / 2), -size.h);
                var icon = new OpenLayers.Icon('https://img.icons8.com/color/48/000000/place-marker.png', size, offset);
                var markers = new OpenLayers.Layer.Markers("Markers");
                map.addLayer(markers);

                markers.addMarker(new OpenLayers.Marker(lonLat, icon));

                map.setCenter(lonLat, zoom);
            };
    </script>

{% endblock %}

