{% extends 'base.html.twig' %}


{% block title %}{{ parent() }} | detail sortie{% endblock %}

{% block body %}
    <h1>Detail</h1>
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <input type="submit" class="btn" value="Enregistrer">
    {{ form_end(sortieForm) }}
    <a href="{{ path('home') }}" class="btn">Annuler</a>
{#    <ul>#}
{#        <li>nom de la sortie : {{ sortie.nom }}</li>#}
{#        <li>date heure debut : {{ sortie.dateHeureDebut | date("d/m/Y") }}</li>#}
{#        <li>nombre max inscription : {{ sortie.nbInscriptionMax }}</li>#}
{#        <li>durée : {{ sortie.duree }}</li>#}
{#        <li>infos de la sortie : {{ sortie.infosSortie }}</li>#}
{#        <li>lieu : {{ sortie.lieu.nom }}</li>#}
{#        <li>rue : {{ sortie.lieu.rue }}</li>#}
{#        <li>ville : {{ sortie.lieu.ville.nom }}</li>#}
{#        <li>code postal : {{ sortie.lieu.ville.zipCode }}</li>#}
{#        <li>latitude : {{ sortie.lieu.latitude }}</li>#}
{#        <li>longitude : {{ sortie.lieu.longitude }}</li>#}
{#    </ul>#}
{% endblock %}

