<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome BMTWC!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {#        <link rel="icon" href="{{ asset('img/favicon.png') }}">#}
</head>
<body>
    <header>
        {{ include('nav/nav.html.twig') }}
    </header>
<div class="container">

    <main>
            {%  for label, messages in app.flashes %}
                {%  for message in messages %}
                    <div class="flash flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
    </main>
</div>
    <footer class="footer  white-text teal darken-1">
        {% block footer %}{% endblock %}
        © Avengers (BMTWC) 2020
    </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="{{ asset('javascript/app.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, []);
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, []);
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {edge: 'right'});
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {format: 'dd/mm/yyyy'});
        var elems = document.querySelectorAll('.timepicker');
{#        var instances = M.Timepicker.init(elems, {format: "HH:ii"}); #}
    });
</script>
</body>
</html>
