{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{%  endblock %}

{% block body %}
    <h1>Mon Profil</h1>
    {% if user.profilepicture != null %}
        <img src="{{ asset('img/' ~ user.profilepicture) }}">
    {% endif %}
    <h2>{{ user.username }}</h2>
    <ul>
        <li>Prénom : {{ user.prenom }} </li>
        <li>Nom : {{ user.nom }}</li>
        <li>Téléphone : {{ user.telephone }}</li>
        <li>Email : {{ user.email }}</li>
{#        <li>Site : {{ user.site.nom }}</li>#}
    </ul>

   <a class="btn" href="{{ path('home') }}">Retour</a>
{%  endblock %}